* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'weld-light', sans-serif;
	font-size: 3vh;
}

h2 {
	font-size: 1.5em;
	text-align: center;
}

main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ad-frame,
.article-frame {
	position: absolute;
	width: 100%;
	height: 50%;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 1em;
}

.ad-frame > a,
.article-frame > a {
	width: 100%;
	text-align: center;
}

.ad-frame > p,
.article-frame > p {
	font-size: 0.9em;
}

.ad-frame {
	color: white;
	background-color: rgba(0,0,0, 0.4);
}
.ad-frame.background {
	background-color: #6ec8dc;
	z-index: -1;
	padding: 0;
}

.ad-frame button {
	background-color: #6ec8dc;
	color: white;
}
.ad-frame button:hover {
	color: #6ec8dc;
	background-color: white;
}

video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.article-frame {
	top: 50%;
	background-color: #EEE;
}

/* Nice & simple: Button - http://codepen.io/tomsoderlund/pen/qqyzqp */
button {
	background-color: white;
	color: black;
	border-radius: 0.2em;
	border: none;
	box-shadow: 0 0.1em 0.1em rgba(0,0,0, 0.2);
	box-sizing: border-box;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	outline: none;
	padding: 0.9em 0.6em;
	margin: 0.2em 0;
	transition: all 0.2s;
	width: 100%;
	min-width: 7em;
	max-width: 20em;
}
button:hover {
	color: white;
	background-color: black;
}
button:active {
	margin-top: 0.3em;
	margin-bottom: 0.1em;
	box-shadow: 0 0.5px 0.125em rgba(0,0,0, 0.4);
}
button:disabled {
	background-color: silver;
}

/* Nice & simple: Table - https://codepen.io/tomsoderlund/pen/mmZrRR */
table {
	border-collapse: collapse;
}

td, th {
	padding: 0.5em;
}

thead tr {
	background-color: #708090;
	color: white;
}

tr:nth-child(2n+0) {
	background-color: #cfd5da;
}


img.thumbnail {
	height: 2em;
	width: auto;
}