<section class="ad-frame">
	<h2>Weld – be creative without code</h2>
	<p>Create visual, animated, interactive content on your existing CMS or e-commerce platform</p>
	<a href="https://www.weld.io?utm_source=articles.weld.io&utm_content=<%= article.originalSlug %>" onclick="ClickSite.trackClickAd(event, '<%= article.originalSlug %>', '<%= languageCode %>')" ><button>Learn more</button></a>
</section>

<section class="ad-frame background">
	<video autoplay="true" loop="true">
		<source src="https://s3-eu-west-1.amazonaws.com/weld-app-assets/landing/weld_landingpage_2017_hd.mp4" media="all and (max-width:480px)" type="video/mp4">
		<source src="https://s3-eu-west-1.amazonaws.com/weld-app-assets/landing/weld_landingpage_2017_hd.mp4" type="video/mp4">
	</video>
</section>