<% include ../shared/header %>

<div class="ad-frame">
	<h2>Do it in Weld Do it in Weld Do it in Weld</h2>
	<a href="https://www.weld.io?" target="_blank"><button>Try Weld now</button></a>
</div><iframe width="100%" frameborder="0" src="https://www.dn.se"></iframe>

<% include ../shared/footer %>